<div class="copyright">
    <div class="container">
        <p>&copy; 2017
            <span class="brand"><a target="_blank" href="http://selenkeys.com/" rel="noopener">SELEN KEYS</a></span>
            Tous droits réservés.
        </p>
    </div>
</div>
