<div class="blue-separator" data-turbolinks-permanent></div>
<footer class="flex-center" data-turbolinks-permanent>
    <div class="grid-3-small-2 has-gutter-l">
        <div><h1>A PROPOS</h1>
            <hr>
            <p>Leader dans le domaine des services en France, AB Services se développe sur les marchés de la sécurité,
                la maintenance, le nettoyage, l'hôtellerie et la restauration et offre des prestations de services
                variées et complètes.</p></div>
        <div><h1>NOS FILIALES</h1>
            <hr>
            <p>AB Services, est un ensemble de filiales indépendantes et complémentaires, rassemblées par groupe,
                offrant une expertise métier pour répondre à l'ensemble des demandes. AB Services accompagne, dans le
                Pas de Calais, les professionnels et les particuliers dans la maintenance, la sécurité, l'entretien et
                les services hôteliers.</p></div>
        <div><h1>NOUS CONTACTER</h1>
            <hr>
            <dl>
                <dt><i class="icon icon-home"></i> Addresse</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio justo</dd>
                <dt><i class="icon icon-phone"></i> Téléphone</dt>
                <dd>+33 9 83 42 05 83 (Prix d’un appel local)</dd>
                <dt><i class="icon icon-doc-text"></i> Fax</dt>
                <dd>+33 3 21 74 14 50</dd>
                <dt><i class="icon icon-mail"></i> Email</dt>
                <dd>contact@abserv.fr</dd>
            </dl>
        </div>
    </div>
</footer>
