<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="author" content="SELEN KEYS <http://selenkeys.com/>">
<meta name="keywords"
      content="ABS, GBS, ENS, EMS, HRS, service, security, maintenance, building, upkeep, cleaning, restoration, hotel">
<meta name="description" content="AB Services - Services provider">
<link rel="copyright" href="http://selenkeys.com/"><title>AB Services | {{ data.title }}</title>
<link rel="icon" href="favicon.ico">
<meta name="theme-color" content="#f2f2f1">
<link rel="manifest" href="/manifest.json">
<!-- build:css -->
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/10-anormalize.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/10-fontello-embedded.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/10-grillade.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/10-slick.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/10-slick-theme.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/30_skeleton.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/31_navbar.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/32_footer.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/40_hero.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/41_filiales.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/42_values.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/43_why.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/44_stats.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/50_company.header.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/50_history.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/51_company.slogan.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/52_company.services.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/70_contact.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/99_loader.css">
<!-- endbuild -->